.counters {
    display: flex;
    padding-top: 30px;
    margin-left: 25px;
}
body {
    cursor: crosshair;
}

.btn-add {
    outline: none;
    border: none;
    font-size: 20px;
    background-color: #fff;
    cursor: pointer;
}
.btn-add:hover {
    background-color: rgb(198, 228, 255);
    color: #000;
}
.btn-add:active {
    color: rgb(209, 224, 238);
    background-color: rgb(80, 77, 80);

}

.counters, p {
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}
.btn {
    height: 100%;
    outline: none;
    background-color: chartreuse;
    border: none;
    color: rgb(7, 61, 109);
    cursor: pointer;
    font-size: 20px;
}

.wr {
    /* text-align: center; */
    margin-left: 40%;
    margin-top: 15%;
}

.res {
    background: transparent;
    margin-left: 25px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.res:hover {
    background-color: rgb(198, 228, 255);
    color: #000;
}
.res:active {
    color: rgb(209, 224, 238);
    background-color: rgb(80, 77, 80);

}
